# Simpson"s Paradox
Use `admission_data.csv` for this exercise.

<p style="font-family: Arial; font-size:2em;color:gold; text-align:center;">---->Abdalla Nassar<---- </p>

In [215]:
import pandas as pd
df =pd.read_csv("admission_data.csv")
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

### Proportion and admission rate for each gender

In [216]:
#nuember of male 
num_male=df[df["gender"]=="male"].shape[0]
#number of fmale 
num_female=df[df["gender"]=="female"].shape[0]
#number of student
total_students=len(df)
# Admission rate for females
admin_female=df[(df["gender"]=="female")&(df["admitted"]==True )].shape[0]
# Admission rate for males
admin_male=df[(df["gender"]=="male")&(df["admitted"]==True )].shape[0]

In [217]:
# Proportion of students that are female
print("Proportion of students that are female: {:.2f}%".format( num_female/total_students* 100))

Proportion of students that are female: 51.40%

In [218]:
# Proportion of students that are male
print("Proportion of students that are male: {:.2f}%".format( num_male/total_students* 100))

Proportion of students that are male: 48.60%

In [219]:
# Admission rate for females
print("Admission rate for females: {:.2f}%".format(admin_female/num_female * 100))

Admission rate for females: 28.79%

In [220]:
# Admission rate for males
print("Admission rate for males: {:.2f}%".format(admin_male/num_male * 100))

Admission rate for males: 48.56%

### Proportion and admission rate for physics majors of each gender

In [221]:
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [222]:
#physics students
physics = df[df["major"] == "Physics"].shape[0]
#physics male
physics_male=df[(df["gender"]=="male")&(df["major"]=="Physics" )].shape[0]
#physics female
physics_female=df[(df["gender"]=="female")&(df["major"]=="Physics" )].shape[0]
#female physics and admitted
physics_female_admin=df[(df["major"]=="Physics")&(df["gender"]=="female")&(df["admitted"]==True )].shape[0]
#male physics and admitted
physics_male_admin=df[(df["gender"]=="male")&(df["major"]=="Physics")&(df["admitted"]==True )].shape[0]

In [223]:
# What proportion of females students are majoring in physics?
print("Proportion of females with physics majors: {:.2f}%".format(physics_female/physics * 100))

Proportion of females with physics majors: 12.11%

In [224]:
# What proportion of male students are majoring in physics?
print("Proportion of males with physics majors: {:.2f}%".format(physics_male/physics * 100))

Proportion of males with physics majors: 87.89%

In [225]:
# Admission rate for female physics majors
print("Admission rate for female physics majors: {:.2f}%".format(physics_female_admin/physics_female * 100))

Admission rate for female physics majors: 74.19%

In [226]:
# Admission rate for male physics majors
print("Admission rate for male physics majors: {:.2f}%".format(physics_male_admin/physics_male * 100))

Admission rate for male physics majors: 51.56%

### Proportion and admission rate for chemistry majors of each gender

In [227]:
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [228]:
#chemistry students
chemistry = df[df["major"] == "Chemistry"].shape[0]
#chemistry male
chemistry_male=df[(df["gender"]=="male")&(df["major"]=="Chemistry" )].shape[0]
#chemistry female
chemistry_female=df[(df["gender"]=="female")&(df["major"]=="Chemistry" )].shape[0]
#female chemistry and admitted
chemistry_female_admin=df[(df["major"]=="Chemistry")&(df["gender"]=="female")&(df["admitted"]==True )].shape[0]
#male chemistry and admitted
chemistry_male_admin=df[(df["gender"]=="male")&(df["major"]=="Chemistry")&(df["admitted"]==True )].shape[0]
chemistry

244

In [229]:
# What proportion of female students are majoring in chemistry?
print("Proportion of females with chemistry majors: {:.2f}%".format(chemistry_female/chemistry * 100))

Proportion of females with chemistry majors: 92.62%

In [230]:
# What proportion of male students are majoring in chemistry?
print("Proportion of males with chemistry majors: {:.2f}%".format(chemistry_male/chemistry * 100))

Proportion of males with chemistry majors: 7.38%

In [231]:
# Admission rate for female chemistry majors
print("Admission rate for female physics majors: {:.2f}%".format(chemistry_female_admin/chemistry_female * 100))

Admission rate for female physics majors: 22.57%

In [232]:
# Admission rate for male chemistry majors
print("Admission rate for male physics majors: {:.2f}%".format(chemistry_male_admin/chemistry_male * 100))

Admission rate for male physics majors: 11.11%

### Admission rate for each major

In [233]:
# Admission rate for physics majors
print("Admission rate for physics majors: {:.2f}%"
      .format((physics_female_admin+physics_male_admin)/physics * 100))

Admission rate for physics majors: 54.30%

In [234]:
# Admission rate for chemistry majors
print("Admission rate for chemistry majors: {:.2f}%"
      .format((chemistry_female_admin+chemistry_male_admin)/chemistry * 100))

Admission rate for chemistry majors: 21.72%

### What are your conclusions?

##### From the above data, there appears to be a preference for admitting more male students than female students overall. However, when considering specific majors, females seem to be favored in admission for Physics and Chemistry majors.