# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

<p style="font-family: Arial; font-size:2em;color:gold; text-align:center;">---->Edited By Abdalla Nassar<---- </p>

In [410]:
# Do your analysis and answer the following (type your answers !! do not throw the code in there and submit the file)

# Which store has the highest total sales for the final month of data? ---------
# Which store makes the most sales on average? -----------
# Which store sells the most during the week of March 13th, 2016? ---------
# In what week does store C make its worst sales? ---------- 
# Which store has the most sales in the latest 3-month period? -----------
# What is the most consistent store in sales ? ------------- 
# Given the information you gathered, what do you think is the best store financially? ------------

In [411]:
# import and load the data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
store=pd.read_csv("store_data.csv")

In [412]:
store.head(10)

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294
1  2014-05-11    6444    5736    5634    7092    2907
2  2014-05-18    9646    2552    4253    5447    4736
3  2014-05-25    5960   10740    8264    6063     949
4  2014-06-01    7412    7374    3208    3985    3023
5  2014-06-08    1289   10137    5070    7163    1703
6  2014-06-15    6282    3925    5528    4748    3351
7  2014-06-22    5135    7317    5530    4595     104
8  2014-06-29   11766   12560    3199    4676    3573
9  2014-07-06    8567    3228     927    3277     168

In [413]:
store.describe()

             storeA        storeB       storeC       storeD       storeE
count    200.000000    200.000000   200.000000   200.000000   200.000000
mean    5865.480000   6756.710000  4942.105000  5431.405000  2580.025000
std     2958.230318   3601.339489  1325.407768  1183.111323  1725.651381
min      137.000000     14.000000   927.000000  2276.000000    39.000000
25%     3812.250000   3884.500000  4053.500000  4717.000000  1235.000000
50%     5713.500000   6771.000000  4962.500000  5382.000000  2522.000000
75%     7662.250000   9350.500000  5801.750000  6243.750000  3574.250000
max    14403.000000  15841.000000  8293.000000  8190.000000  7553.000000

In [414]:
# explore the data (gather as much information as you can)
store.info()
print(store.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB
(200, 6)

In [415]:
# clean the data
print(store.shape)
store.info()        #it is clean enough (-_-)

(200, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   week    200 non-null    object
 1   storeA  200 non-null    int64
 2   storeB  200 non-null    int64
 3   storeC  200 non-null    int64
 4   storeD  200 non-null    int64
 5   storeE  200 non-null    int64
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [416]:
# total sales for the last month
store.iloc[196:].sum()
#انا اخد اخر اربع قيم 
#2/4/2018	4853	6503	4187	5956	1458
#2/11/2018	9202	3677	4540	6186	243
#2/18/2018	3512	7511	4151	5596	3501
#2/25/2018	7560	6904	3569	5045	2585

week      2018-02-042018-02-112018-02-182018-02-25
storeA                                       25127
storeB                                       24595
storeC                                       16447
storeD                                       22783
storeE                                        7787
dtype: object

In [417]:
# average sales
store.mean()

C:\Users\Abdalla\AppData\Local\Temp\ipykernel_4796\2503854282.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  store.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

In [418]:
# sales on march 13, 2016
store[store["week"] == "2016-03-13"].sum()

week      2016-03-13
storeA          2054
storeB          1390
storeC          5112
storeD          5513
storeE          2536
dtype: object

In [419]:
# worst week for store C
store[store["storeC"] == store["storeC"].min()]

         week  storeA  storeB  storeC  storeD  storeE
9  2014-07-06    8567    3228     927    3277     168

In [420]:
# total sales during most recent 3 month period
last_three_months = store[store["week"] >= "2017-12-01"]
last_three_months.iloc[:,1:].sum()

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64

In [421]:
# Go back to the top and answer the questions

In [423]:
# Which store has the highest total sales for the final month of data? --------
print(store.sum()[1:].to_string())
print("storeB has highest total sale")
#storeB has the highest total sales

storeA    1173096
storeB    1351342
storeC     988421
storeD    1086281
storeE     516005
storeB has highest total sale

In [424]:
# Which store makes the most sales on average?
print(store.mean()[0:].to_string())
print("-"*50)
print("storeA :{} ".format(store["storeA"].mean()))
print("storeB :{} ".format(store["storeB"].mean()))
print("storeC :{} ".format(store["storeC"].mean()))
print("storeD :{} ".format(store["storeD"].mean()))
print("storeE :{} ".format(store["storeE"].mean()))
print("storeB has most sales on average")

#storeB has most sales on average

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
--------------------------------------------------
storeA :5865.48
storeB :6756.71
storeC :4942.105
storeD :5431.405
storeE :2580.025
storeB has most sales on average

C:\Users\Abdalla\AppData\Local\Temp\ipykernel_4796\3974385691.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(store.mean()[0:].to_string())

In [425]:
# Which store sells the most during the week of March 13th, 2016? ---------

# Set the 'week' column as the index
store["week"] = pd.to_datetime(store["week"])
store.set_index("week", inplace=True)
sales_data = store.loc['3/13/2016']
max_sales_store = sales_data.idxmax()

max_sales_store

'storeD'

In [426]:
# In what week does store C make its worst sales? ---------- 

worst_sales_week = store["storeC"].idxmin()

worst_sales_week

Timestamp('2014-07-06 00:00:00')

In [427]:
# Which store has the most sales in the latest 3-month period? -----------
latest_3_month_period = store.iloc[187:].sum().idxmax()
latest_3_month_period

#database
# week         storeA	storeB	storeC	storeD	storeE				
# 2017-12-03	5179	3850	6121	6778	113
# 2017-12-10	9348	5624	5446	5448	227
# 2017-12-17	5310	8647	5680	7049	3578
# 2017-12-24	8976	9503	6240	3882	2890
# 2017-12-31	11875	1527	6711	5265	1701
# 2018-01-07	8978	11312	4158	5019	3842
# 2018-01-14	6963	4014	4215	7153	3097
# 2018-01-21	5553	3971	3761	6255	3071
# 2018-01-28 	282	    6351    7759    5558	 1028
# 2018-02-04	4853	6503	4187	5956	1458
# 2018-02-11	9202	3677	4540	6186	243
# 2018-02-18	3512	7511	4151	5596	3501
# 2018-02-25	7560	6904	3569	5045	2585

'storeA'

In [428]:
# What is the most consistent store in sales ? ------------- 
std_dev_by_store = store.std().idxmin()

std_dev_by_store

'storeD'